<!DOCTYPE html>
<html ng-app="playerApp">
<head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>
<body ng-controller="playerController">
    <main>
        <div class="menu">
            <ul>
                <li><a href="#"><img src="/Images/db.svg" /><span>Dropbox</span></a></li>
                <li><a href="#"><img src="/Images/gd.svg" /><span>Google Drive</span></a></li>
                <li><a href="#"><img src="/Images/vk.svg" /><span>VKontakte</span></a></li>
            </ul>
        </div>
        <div class="main">
            <ul id="playlist">
                <li ng-repeat="song in songs"><a ng-click="play(song.Id)">{{song.Artist}} - {{song.Name}}</a></li>
            </ul>
        </div>
    </main>

    <div id="bar">
        <div id="control">
            <div id="timeline">
                <div class="line" ng-style="{width: line + '%'}"></div>
                <div class="loadline" ng-style="{width: loadline + '%'}"></div>
                <div class="time">
                    <span class="now">{{time}}</span>
                    <span class="end">{{track.Time}}</span>
                </div>
            </div>
            <div class="panel">
                <div class="left">
                    <div class="buttons">
                        <a href="#" class="material-icons pleft" ng-click="change('prev')">skip_previous</a>
                        <a href="#" class="material-icons pp" ng-click="ppbtn($event)"><span ng-show="!isplaying">play_arrow</span><span ng-show="isplaying">pause</span></a>
                        <a href="#" class="material-icons pright" ng-click="change('next')">skip_next</a>
                    </div>
                    <div class="info">
                        <span class="title">{{track.Title}}</span>
                        <span class="artist">{{track.Artist}}</span>
                    </div>
                </div>
                <div class="right">
                    <div class="config">
                        <a href="#" class="material-icons pp">repeat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script>
        var playerApp = angular.module("playerApp", []);
        playerApp.controller("playerController", function ($scope, $http) {
			var player = document.createElement("AUDIO");
			player.setAttribute("preload", "metadata");

			$http.get('/api/songs').
                then(function (response) {
                    $scope.songs = response.data;
                    if ($scope.songs.length > 0) {
                        $scope.setTrack($scope.songs[0]);
                        console.log("1");
                    }
                });

			//$scope.songs = [
			//	{ Id: 1, Artist: "Slava KPSS", Name: "Grime Hate", Url: "./music/grimehate.mp3"},
			//	{ Id: 2, Artist: "Скриптонит", Name: "Вниз", Url: "./music/Скриптонит - Вниз [gazgolder.com].mp3"}
			//];

			$scope.line = 0;
			$scope.loadline = 0;
			$scope.isplaying = false;
			$scope.nowplaying = 0;
			$scope.time = "0:00";
			$scope.track = { Title: "Unknown", Artist: "Artist", Time: "0:00" }

			$scope.ppbtn = function ($event) {
				$scope.isplaying = !$scope.isplaying;
				if($scope.isplaying) player.play();
				else player.pause();
			}

			function findSong(song) {
			    n = -1;
			    for (var i = 0; i < $scope.songs.length; i++)
			        if ($scope.songs[i].Id == song) {
			            n = i;
			        }
			    return n;
			}

			$scope.setTrack = function (song) {
			    $scope.track.Title = song.Name;
			    $scope.track.Artist = song.Artist;
			    player.src = song.Url;

			    var m = Math.floor(player.duration / 60);
			    $scope.track.Time = m + ":" + ((Math.round(player.duration - m * 60) < 10) ? "0" : "") + Math.round(player.duration - m * 60);
			}

			$scope.play = function (song) {
				if(song == $scope.nowplaying) {
					$scope.ppbtn();
				} else {
					var n = findSong(song);
					if(n < 0) {
						alert("Такого трека нет");
					} else {
						$scope.nowplaying = song;

						$scope.setTrack($scope.songs[n]);

						$scope.isplaying = true;
						player.play();
					}
				}
			}

			$scope.change = function (direction) {
				switch(direction) {
					case "next":
						var song = findSong($scope.nowplaying);
						if(song == $scope.songs.length-1) song = 0;
						else song++;
						$scope.play($scope.songs[song].Id);
					break;
					case "prev":
						if($scope.line > 10) {
							player.currentTime = 0;
						} else {
							var song = findSong($scope.nowplaying);
							if(song == 0) song = $scope.songs.length-1;
							else song--;
							$scope.play($scope.songs[song].Id);
						}
					break;
				}
			}
       });
    </script>
</body>
</html>